--extra-index-url https://download.pytorch.org/whl/cu113 
torch
huggingface_hub
diffusers
transformers
scikit-image
pillow
opencv-python-headless
fastapi
uvicorn
httpx
gradio
boto3
python-magic
fastapi-utils