--extra-index-url https://download.pytorch.org/whl/cu113 
torch
huggingface_hub
diffusers==0.7.0
transformers==4.23.1
scikit-image==0.19.3
Pillow==9.2.0
opencv-python-headless==4.6.0.66
fastapi==0.85.1
uvicorn==0.18.3
httpx==0.23.0
gradio==3.6
boto3==1.24.93
python-magic==0.4.27
fastapi-utils==0.2.1
shortuuid==1.0
tqdm==4.64
accelerate==0.13